.hero-unit
  %h1 Hey new guy!
  %p
    You'll need to sign in to your Evernote account before you can start using Evernote Recipe.
    %br I promise it's worth the work.
    = link_to "Sign In", signin_path, class: 'btn btn-primary btn-large'