- if signed_in?
  - if @recipes.empty?
    .hero-unit
      %h1 Uh-Oh.
      %p
        I'm really sorry but I couldn't find any recipes in any of your notebooks.
        You either hate food or I screwed up.
  - else
    %ul
    - @recipes.each do |recipe|
      %li
        = image_tag "#{get_note_image recipe, size: 250}"
        = recipe.title
- else
  .hero-unit
    %h1 Hey new guy!
    %p
      You'll need to sign in to your Evernote account before you can start using Evernote Recipe.
      %br I promise it's worth the work.
      = link_to "Sign In", sessions_new_path, class: 'btn btn-primary btn-large'