%footer
  .container
    %p.muted.credit
      This is an expirement using the Evernote Developer API by
      %a{ href: 'www.twitter.com/casey_lang' }@casey_lang.
      %br
      Evernote is not affiliated with its creation (please don't sue me).
      %br
      All the code for this project can be found on
      %a{ href: 'https://github.com/clang1234' }GitHub.