%header{ class: "navbar navbar-inverse navbar-fixed-top" }
  .navbar-inner
    .container
      = link_to "Evernote Recipe", root_path, id: 'logo', class: 'brand'
      %nav
        %ul.nav.pull-right
          -if signed_in?
            %li.dropdown
              %a{ class: "dropdown-toggle", :'data-toggle' => "dropdown",
                  href: '#', role: 'button' }
                =current_user.username
                .caret
              %ul.dropdown-menu
                %li= link_to 'Sign Out', sessions_destroy_path, method: :delete
          - else
            %li= link_to "Sign In", signin_path