%header{ class: "navbar navbar-inverse navbar-fixed-top" }
  .navbar-inner
    .container
      = link_to "Evernote Recipe", root_path, id: 'logo', class: 'brand'
      %nav
        %ul.nav.pull-right
          = render signed_in? ? 'layouts/signed_in' : 'layouts/signed_out'