%li.dropdown
  %a.dropdown-toggle{ href: '#', :'data-toggle' => "dropdown", role: 'button' }
    = current_user.username
    .caret
  %ul.dropdown-menu
    %li= link_to 'Sign Out', sessions_destroy_path, method: :delete, id: 'sign_out_header'